.App {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #f6f6f6;
}

h1, h2, h3 {
  margin-left: 8%;
  text-align: left;
  font-size: 1.6em;
  font-weight: bold;
}

h1 {
  color: #000000;
}

h2 {
  color: #979797;
}

h3 {
  font-size: 1.3em
}

.infobox {
  box-sizing: border-box;
  width: 92%;
  margin: 4% auto;
  border: 2px solid #e1e1e1;
  background-color: #ffffff;
}

.infobox table {
  width: 100%;
  border-collapse: collapse;
}
.infobox tbody {
  border-bottom: 2px solid #eeeeee;
}

.infobox th, td {
  font-size: 1em;
  padding: 4%;
  text-align: left;
}

.infobox th {
  width: 30%;
  background-color: #fbfbfb;
  color: #6a6a6a;
}

.infobox td {
  color: #333333;
}

.infobox p {
  margin: 4%;
  font-size: 1em;
  text-align: left;
  color: #000000;
  line-height: 1.7;
  word-break: break-all;
}
