button {
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-map-open {
  width: 50%;
  height: 80px;
  padding: 0;
  background-color: #ffffff;

  font-size: 1.3em;
  color: #333333;
  line-height: 1.7;
}

.btn-map-open:first-of-type {
  border-right: 2px solid #e1e1e1;
}

.btn-map-open img {
  margin-right: 9%;
  vertical-align: sub;
}

.map-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 7;
  background-color: #f6f6f6;
}

.map-modal-container .modal-top-nav {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  vertical-align: middle;
}
.modal-top-nav h1 {
  display: inline-block;
  margin: 15px auto;
  text-align: center;
}

.modal-top-nav .btn-close {
  width: 11%;
  height: 80px;
  background-color: #ffffff;

  font-size: 2.125em;

  float: right;
}
