.RoomInfo {
  position: relative;
  top: 20px;
  width: 100%;

  margin-bottom: -60px;
}

.slider-container {
  margin: 0 auto;
  width: 90%;
  height: auto;
  padding: 5%;
  background: #000000;
}
.money {
  font-size: 1.6em;
  font-weight: bold;
  color: #ff780a;
}

.infobox {
  position: relative;
}

.room-pic-container {
  margin-bottom: -5px;
}

.room-pic {
  max-width: 100%;
  height: auto;
  clip-path: inset(54px 0px 0px 0px);
}

.price-pic-container {
  position: absolute;
  top: 40px;
  left: 65%;

  width: 30%;
  height: 30%;

  background-image: url('https://cloud.githubusercontent.com/assets/3931792/23830766/b3d6b1a6-0755-11e7-9596-deb47972bd56.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.real-price-confirm {
  width: 100%;
  height: auto;
}
